@mixin chengePosition($num) {
    @if $num == 1 {
        left: 157px;
    } 
    @if $num == 2 {
        left: 286px;
    } 
    @if $num == 3 {
        left: 415px;
    } 
    @if $num == 4 {
        left: 544px;
    } 
    @if $num == 5 {
        left: 673px;
    }
    @if $num == 6 {
        left: 157px;
        top: 270px;
    } 
    @if $num == 7 {
        left: 286px;
        top: 270px;
    } 
    @if $num == 8 {
        left: 415px;
        top: 270px;
    } 
    @if $num == 9 {
        left: 544px;
        top: 270px;
    } 
    @if $num == 10 {
        left: 673px;
        top: 270px;
    }
}

@mixin keyframes($name){
@keyframes #{$name}{
    @content;
}
}

@for $i from 1 through 52 {
	.card.move#{$i} { 
		@include keyframes(move#{$i}) {
			0% {
				@include position();
			};
			100% {
				@include chengePosition($i);
			}
		}
		animation: move#{$i} 2s ease-out 1;
		@include chengePosition($i);
		}
}
