// .card-ac {
// 	background-position: 0 0;
// }
// .card-2c {
// 	background-position: -104px 0;
// }
// .card-3c {
// 	background-position: -207px 0;
// }
// .card-4c {
// 	background-position: -311px 0;
// }
// .card-5c {
// 	background-position: -414px 0;
// }
// .card-6c {
// 	background-position: -518px 0;
// }
// .card-7c {
// 	background-position: -621px 0;
// }
// .card-8c {
// 	background-position: -725px 0;
// }
// .card-9c {
// 	background-position: -828px 0;
// }
// .card-10c {
// 	background-position: -932px 0;
// }
// .card-jc {
// 	background-position: -1035px 0;
// }
// .card-qc {
// 	background-position: -1139px 0;
// }
// .card-kc {
// 	background-position: -1242px 0;
// }
// .card-ad {
// 	background-position: 0 -150px;
// }
// .card-2d {
// 	background-position: -104px -150px;
// }
// .card-3d {
// 	background-position: -207px -150px;
// }
// .card-4d {
// 	background-position: -311px -150px;
// }
// .card-5d {
// 	background-position: -414px -150px;
// }
// .card-6d {
// 	background-position: -518px -150px;
// }
// .card-7d {
// 	background-position: -621px -150px;
// }
// .card-8d {
// 	background-position: -725px -150px;
// }
// .card-9d {
// 	background-position: -828px -150px;
// }
// .card-10d {
// 	background-position: -932px -150px;
// }
// .card-jd {
// 	background-position: -1035px -150px;
// }
// .card-qd {
// 	background-position: -1139px -150px;
// }
// .card-kd {
// 	background-position: -1242px -150px;
// }
// .card-ah {
// 	background-position: 0 -300px;
// }
// .card-2h {
// 	background-position: -104px -300px;
// }
// .card-3h {
// 	background-position: -207px -300px;
// }
// .card-4h {
// 	background-position: -311px -300px;
// }
// .card-5h {
// 	background-position: -414px -300px;
// }
// .card-6h {
// 	background-position: -518px -300px;
// }
// .card-7h {
// 	background-position: -621px -300px;
// }
// .card-8h {
// 	background-position: -725px -300px;
// }
// .card-9h {
// 	background-position: -828px -300px;
// }
// .card-10h {
// 	background-position: -932px -300px;
// }
// .card-jh {
// 	background-position: -1035px -300px;
// }
// .card-qh {
// 	background-position: -1139px -300px;
// }
// .card-kh {
// 	background-position: -1242px -300px;
// }
// .card-as {
// 	background-position: 0 -450px;
// }
// .card-2s {
// 	background-position: -104px -450px;
// }
// .card-3s {
// 	background-position: -207px -450px;
// }
// .card-4s {
// 	background-position: -311px -450px;
// }
// .card-5s {
// 	background-position: -414px -450px;
// }
// .card-6s {
// 	background-position: -518px -450px;
// }
// .card-7s {
// 	background-position: -621px -450px;
// }
// .card-8s {
// 	background-position: -725px -450px;
// }
// .card-9s {
// 	background-position: -828px -450px;
// }
// .card-10s {
// 	background-position: -932px -450px;
// }
// .card-js {
// 	background-position: -1035px -450px;
// }
// .card-qs {
// 	background-position: -1139px -450px;
// }
// .card-ks {
// 	background-position: -1242px -450px;
// }