@import './style/variables';
@import './style/mixins';
@import './style/design-cards';
@import './style/animation-card';

body {
	background-image: radial-gradient(#09790f, #17321b);
	height: 150vh;
}

.deck {
	position: relative;
}

.container {
	width: 920px;
	padding: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}
.btns {
	margin: 40px 0;
	display: flex;
	justify-content: center;
}
.btn {
	margin-right: 30px;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid transparent;
	text-transform: uppercase;
	font-size: 14px;
	background-color: $bg-btn;
	color: $color-white;
	cursor: pointer;
	&:hover {
		background-color: $bg-btn-hover;
	}
}
.btn-reshuffle {
	margin-right: 0;
}
.card {
	width: 103px;
	height: 150px;
	border: 1px solid #000;
	margin: 15px;
	border-radius: 7px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Svg-cards-2.0.svg/1346px-Svg-cards-2.0.svg.png);
	transform-style: preserve-3d;
	transition: transform 1s;
	position: absolute;
	top: 104px;
}
.card.flip {
	transform: rotateY( 180deg );
}
.card.flip-back {
	transform: rotateY( 0deg );
}
.card-back {
	display: block;
	width: 103px;
	height: 150px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Svg-cards-2.0.svg/1346px-Svg-cards-2.0.svg.png);
	background-position: -207px -601px;
}
.cards {
	margin: 0 auto;
	margin-top: 40px;
	position: static;
}